@import 'src/styles/modules/all';

.WeatherDisplay {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 4em auto;
  color: white;
  text-align: center;
}

.day {
  text-align: center;
  h2 {
    color: $secondary-color;
    font-weight: bold;
  }
  .temp {
    display: flex;
    justify-content: center;
    p {
      color: $temperature-color;
      font-weight: bold;
    }
  }
}
