@import 'src/styles/modules/all';

.WeatherDisplay {
  display: flex;
  flex-direction: row-reverse;
  width: 60%;
  justify-content: space-between;
  margin: 4em auto;
  color: white;
  text-align: center;
}

.day {
  padding: 1em;
  text-align: center;
  &:hover {
    background-color: #6e3dd1;
  }
  h2 {
    color: $secondary-color;
    font-weight: bold;
  }
  .temp {
    display: flex;
    justify-content: center;
    p {
      color: $temperature-color;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 800px) {
  .WeatherDisplay {
    flex-direction: column-reverse;
  }
}
